* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #797979; }

section {
  width: 100%;
  padding: 2em 10em; }
  section h2 {
    color: #797979;
    text-align: center;
    text-transform: uppercase;
    padding: 2em; }

.logo {
  font-size: 2em;
  font-weight: bold;
  font-family: "Raleway", sans-serif; }
  .logo span {
    color: #ff3720; }

.intro {
  width: 100vw;
  height: 100vh;
  background: url(../slike/background.jpg);
  background-size: cover; }
  .intro header {
    background: #fff;
    padding: 0.5em; }
    .intro header:before, .intro header:after {
      content: "";
      display: table; }
    .intro header:after {
      clear: both; }
  .intro .logo {
    float: left; }
  .intro nav {
    float: right; }
    .intro nav ul {
      list-style: none; }
      .intro nav ul li {
        display: inline-block;
        margin-left: 1em;
        line-height: 3em;
        text-transform: uppercase; }
        .intro nav ul li a {
          text-decoration: none; }
          .intro nav ul li a:hover {
            color: #000; }
  .intro h1 {
    color: #fff;
    font-size: 3em;
    text-align: center;
    border-bottom: 1px solid #ff3720;
    width: 60%;
    margin: 20% auto 0;
    font-weight: normal; }
  .intro h3 {
    color: #fff;
    text-align: center;
    font-weight: normal; }

.catalog {
  background: #f0f0f0; }
  .catalog:before, .catalog:after {
    content: "";
    display: table; }
  .catalog:after {
    clear: both; }
  .catalog .column {
    float: left;
    width: 25%;
    padding: 0.5em;
    text-align: center; }
    .catalog .column img {
      width: 100%; }
    .catalog .column a {
      background: #ff3720;
      color: #fff;
      padding: 0.5em 1em;
      text-decoration: none;
      margin-top: 1em;
      display: inline-block; }
      .catalog .column a:hover {
        background: #000; }

.pricing table {
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 2em;
  margin-bottom: 1em;
  width: 60%; }
  .pricing table th, .pricing table td {
    padding: 1em; }
  .pricing table td {
    border-bottom: 1px solid #797979;
    text-align: center; }
    .pricing table td:first-child {
      background: #f0f0f0;
      font-weight: bold; }
  .pricing table th {
    color: #fff; }
    .pricing table th:first-child {
      background: #e42b15; }
  .pricing table thead {
    background: #ff3720; }

footer {
  width: 100%;
  padding: 2em 10em;
  background: #000; }
  footer:before, footer:after {
    content: "";
    display: table; }
  footer:after {
    clear: both; }
  footer .logo {
    font-size: 1em;
    display: block;
    border-bottom: 1px solid #ff3720;
    margin-bottom: 2em; }
  footer address {
    float: left; }
  footer .map {
    float: right; }

@media screen and (max-width: 970px) {
  section {
    padding: 1em 5em; }

  .intro {
    padding: 1em; }
    .intro h1 {
      width: 90%; }

  .catalog .column {
    width: 50%; }

  .pricing table {
    width: 80%; }

  footer {
    text-align: center; }
    footer address,
    footer .map {
      float: none; } }

/*# sourceMappingURL=style.css.map */
