@import 'vars';
@import 'mixins';

@include main;

section {
	width: 100%;
	padding: 2em 10em;

	h2 {
		color: $main_text_color;
		text-align: center;
		text-transform: uppercase;
		padding: 2em;
	}
}

.logo {
	font-size: 2em;
	font-weight: bold;
	font-family: $logo-font;
	span {
		color: $main-red;
	}
}

.intro {

	width: 100vw;
	height: 100vh;
	background: url(../slike/background.jpg);
	background-size: cover;

	header {
		background: #fff;
		@include clearfix;
		padding: 0.5em;
	}

	.logo {
		float: left;
	}

	nav {
		float: right;
		ul {
			list-style: none;
			li{
				display: inline-block;
				margin-left: 1em;
				line-height: 3em;
				text-transform: uppercase;
				a {
					text-decoration: none;
					&:hover {
						color: #000;
					}
				}
			}
		}
	}

	h1 {
		color: #fff;
		font-size: 3em;
		text-align: center;
		border-bottom: 1px solid $main_red;
		width: 60%;
		margin: 20% auto 0;
		font-weight: normal;
	}

	h3 {
		color: #fff;
		text-align: center;
		font-weight: normal;
	}
}

.catalog {
	background: $grey_background;
	@include clearfix;
	.column {
		float: left;
		width: 25%;
		padding: 0.5em;
		text-align: center;
		img {
			width: 100%;
		}
		a {
			background: $main_red;
			color: #fff;
			padding: 0.5em 1em;
			text-decoration: none;
			margin-top: 1em;
			display: inline-block;

			&:hover {
				background: #000;
			}

		}
	}
}

.pricing {
	table{
		margin: 0 auto;
		border-collapse: collapse;
		margin-top: 3em;
		width: 60%;

		th, td {
			padding: 1em;

		}

		td {
			border-bottom: 1px solid $main_text_color;
			text-align: center;
			&:first-child {
				background: $grey_background;
				font-weight: bold;
			}
		}

		th {
			color: #fff;
			&:first-child {
				background: $red_dark;
			}
		}

		thead {
			background: $main_red;
		}
	}
}

footer {
	width: 100%;
	padding: 2em 10em;
	background: #000;
	@include clearfix;

	.logo {
		font-size: 1em;
		display: block;
		border-bottom: 1px solid $main_red;
		margin-bottom: 2em;
	}

	address {
		float: left;
	}

	.map {
		float: right;
	}
}